# Dependencies
node_modules
.pnpm-store

# Next
.next
out

# Build
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# TypeScript
*.tsbuildinfo
next-env.d.ts

dev-data
.agents
.graph-mcp

# LevelDB
data/
